.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
}
.container lable {
  color: #39a9ad;
  font-size: 1rem;
  font-weight: bold;
}
.container input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid black;
  outline: none;
}
.container input:hover {
  border: 1px solid black;
}
