.signup-section {
  background-image: url(../../../public/img/cover.jpg);
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.signup-card {
  background-color: #00544f;
  width: 400px;
}

.form-control {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #eee;
  border-radius: 1px;
  padding: 2px;
  padding-bottom: 8px;
}

.form-control:focus {
  background-color: #00544f;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #eee;
  color: #fff;
}

.btn-secondary {
  height: 50px;
  border-radius: 30px;
}

.terms {
  font-size: 13px;
}
